grist-realtime-n8n-workflow.json
{
  "name": "Grist Realtime Broadcasting - Production",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grist-realtime",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-grist",
      "name": "🔔 Webhook Grist",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "grist-realtime"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-payload",
      "name": "✅ Validation Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PRÉPARATION MESSAGE BROADCAST\n// ============================================\n\nconst gristData = $input.all()[0].json;\n\n// Détermine le type d'événement\nconst eventType = gristData.action || 'update';\n\n// Prépare le message structuré\nconst message = {\n  timestamp: new Date().toISOString(),\n  type: 'intervention_update',\n  action: eventType,\n  data: {\n    id: gristData.id,\n    agent: gristData.fields?.Agent || gristData.Agent || 'Non assigné',\n    localisation: gristData.fields?.Localisation || gristData.Localisation || 'Non spécifié',\n    type: gristData.fields?.Type || gristData.Type || 'Autre',\n    statut: gristData.fields?.Statut || gristData.Statut || 'En attente',\n    priorite: gristData.fields?.Priorite || gristData.Priorite || 'Normale',\n    commentaire: gristData.fields?.Commentaire || gristData.Commentaire || ''\n  },\n  metadata: {\n    source: 'grist',\n    workflowId: $workflow.id,\n    executionId: $execution.id\n  }\n};\n\n// Log pour monitoring\nconsole.log('📡 Broadcasting:', JSON.stringify(message, null, 2));\n\n// Compteur de broadcasts (metrics)\nif (!$execution.customData) {\n  $execution.customData = { broadcastCount: 0 };\n}\n$execution.customData.broadcastCount++;\n\nreturn { json: message };"
      },
      "id": "prepare-broadcast",
      "name": "📦 Préparer Broadcast",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "publish",
        "channel": "grist-realtime-interventions",
        "message": "={{ JSON.stringify($json) }}"
      },
      "id": "redis-publish",
      "name": "📢 Redis Publish",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [840, 300],
      "credentials": {
        "redis": {
          "id": "1",
          "name": "Redis CEREMA"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  message: 'Broadcast envoyé avec succès',\n  timestamp: $json.timestamp,\n  recipients: $execution.customData?.broadcastCount || 1\n} }}"
      },
      "id": "respond-success",
      "name": "✅ Réponse Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ {\n  success: false,\n  error: 'Payload invalide - ID manquant',\n  timestamp: new Date().toISOString()\n} }}"
      },
      "id": "respond-error",
      "name": "❌ Réponse Erreur",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 500]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "sse-stream",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/event-stream"
              },
              {
                "name": "Cache-Control",
                "value": "no-cache"
              },
              {
                "name": "Connection",
                "value": "keep-alive"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "X-Accel-Buffering",
                "value": "no"
              }
            ]
          }
        }
      },
      "id": "sse-endpoint",
      "name": "📡 SSE Stream Endpoint",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700],
      "webhookId": "sse-stream"
    },
    {
      "parameters": {
        "operation": "subscribe",
        "channel": "grist-realtime-interventions"
      },
      "id": "redis-subscribe",
      "name": "👂 Redis Subscribe",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 700],
      "credentials": {
        "redis": {
          "id": "1",
          "name": "Redis CEREMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FORMATAGE SSE MESSAGE\n// ============================================\n\nconst redisMessage = $input.all()[0].json;\n\nlet eventData;\ntry {\n  eventData = typeof redisMessage.message === 'string' \n    ? JSON.parse(redisMessage.message)\n    : redisMessage.message;\n} catch (e) {\n  console.error('Erreur parsing message Redis:', e);\n  eventData = redisMessage;\n}\n\n// Format SSE standard\nconst sseMessage = {\n  event: 'message',\n  data: JSON.stringify(eventData),\n  id: Date.now().toString(),\n  retry: 5000 // Retry après 5s si déconnexion\n};\n\n// Construction message SSE\nconst sseFormatted = \n  `event: ${sseMessage.event}\\n` +\n  `id: ${sseMessage.id}\\n` +\n  `retry: ${sseMessage.retry}\\n` +\n  `data: ${sseMessage.data}\\n\\n`;\n\nconsole.log('📤 SSE envoyé:', sseFormatted);\n\nreturn { \n  json: { \n    sseMessage: sseFormatted,\n    rawData: eventData \n  } \n};"
      },
      "id": "format-sse",
      "name": "📝 Format SSE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 700]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.sseMessage }}"
      },
      "id": "send-sse",
      "name": "🚀 Envoyer SSE",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 700]
    },
    {
      "parameters": {
        "url": "https://matrix.agent.tchap.gouv.fr/_matrix/client/r0/rooms/{{ $env.TCHAP_ROOM_ID }}/send/m.room.message",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.tchapToken }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "msgtype",
              "value": "m.text"
            },
            {
              "name": "body",
              "value": "={{ \"🚨 URGENCE: \" + $json.data.agent + \" - \" + $json.data.localisation + \" (\" + $json.data.statut + \")\" }}"
            },
            {
              "name": "format",
              "value": "org.matrix.custom.html"
            },
            {
              "name": "formatted_body",
              "value": "={{ \"<strong>🚨 INTERVENTION URGENTE</strong><br>👤 Agent: \" + $json.data.agent + \"<br>📍 Lieu: \" + $json.data.localisation + \"<br>📊 Statut: \" + $json.data.statut }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-tchap",
      "name": "💬 Notification Tchap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Tchap Token"
        }
      },
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.priorite }}",
              "value2": "Urgente"
            }
          ]
        }
      },
      "id": "filter-urgent",
      "name": "🚨 Filtre Urgentes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 400]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "SET",
        "key": "={{ \"grist:intervention:\" + $json.data.id }}",
        "value": "={{ JSON.stringify($json.data) }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "redis-cache",
      "name": "💾 Cache Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1040, 400],
      "credentials": {
        "redis": {
          "id": "1",
          "name": "Redis CEREMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// LOGS & METRICS\n// ============================================\n\nconst data = $input.all()[0].json;\n\nconst metrics = {\n  timestamp: new Date().toISOString(),\n  eventType: data.type,\n  action: data.action,\n  priority: data.data.priorite,\n  status: data.data.statut,\n  agent: data.data.agent,\n  processingTime: Date.now() - new Date(data.timestamp).getTime(),\n  workflowId: $workflow.id,\n  executionId: $execution.id\n};\n\nconsole.log('📊 Metrics:', JSON.stringify(metrics, null, 2));\n\n// Ici on pourrait envoyer vers Grafana/Prometheus/InfluxDB\n// Pour l'instant on log juste\n\nreturn { json: metrics };"
      },
      "id": "log-metrics",
      "name": "📊 Log Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "health",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "health-check",
      "name": "❤️ Health Check",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 900],
      "webhookId": "health"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// HEALTH CHECK\n// ============================================\n\nconst health = {\n  status: 'healthy',\n  timestamp: new Date().toISOString(),\n  services: {\n    redis: 'connected',\n    sse: 'active',\n    webhook: 'listening'\n  },\n  uptime: process.uptime(),\n  version: '1.0.0',\n  environment: $env.NODE_ENV || 'production'\n};\n\nreturn { json: health };"
      },
      "id": "health-response",
      "name": "✅ Health Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 900]
    }
  ],
  "connections": {
    "🔔 Webhook Grist": {
      "main": [
        [
          {
            "node": "✅ Validation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Validation Payload": {
      "main": [
        [
          {
            "node": "📦 Préparer Broadcast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Réponse Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Préparer Broadcast": {
      "main": [
        [
          {
            "node": "📢 Redis Publish",
            "type": "main",
            "index": 0
          },
          {
            "node": "🚨 Filtre Urgentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📢 Redis Publish": {
      "main": [
        [
          {
            "node": "✅ Réponse Succès",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Réponse Succès": {
      "main": [
        [
          {
            "node": "📊 Log Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📡 SSE Stream Endpoint": {
      "main": [
        [
          {
            "node": "👂 Redis Subscribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Redis Subscribe": {
      "main": [
        [
          {
            "node": "📝 Format SSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format SSE": {
      "main": [
        [
          {
            "node": "🚀 Envoyer SSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚨 Filtre Urgentes": {
      "main": [
        [
          {
            "node": "💬 Notification Tchap",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Cache Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❤️ Health Check": {
      "main": [
        [
          {
            "node": "✅ Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-17T10:00:00.000Z",
      "updatedAt": "2024-11-17T10:00:00.000Z",
      "id": "1",
      "name": "CEREMA"
    },
    {
      "createdAt": "2024-11-17T10:00:00.000Z",
      "updatedAt": "2024-11-17T10:00:00.000Z",
      "id": "2",
      "name": "Grist"
    },
    {
      "createdAt": "2024-11-17T10:00:00.000Z",
      "updatedAt": "2024-11-17T10:00:00.000Z",
      "id": "3",
      "name": "Realtime"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-11-17T10:00:00.000Z",
  "versionId": "1"
}
