n8n-workflow-v1-minimal-tchap.json
{
  "name": "Grist Realtime v1 - Minimal (Tchap only)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grist-realtime-v1",
        "options": {}
      },
      "id": "webhook-grist-v1",
      "name": "Webhook Grist",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.fields.Priorite }}",
              "operation": "equals",
              "value2": "Urgente"
            }
          ]
        }
      },
      "id": "filter-urgente",
      "name": "Filtre Urgente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://matrix.agent.tchap.gouv.fr/_matrix/client/r0/rooms/{{ $env.TCHAP_ROOM_ID }}/send/m.room.message",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tchapApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "msgtype",
              "value": "m.text"
            },
            {
              "name": "body",
              "value": "🚨 INTERVENTION URGENTE\n\n📍 {{ $json.fields.Localisation }}\n👤 Agent: {{ $json.fields.Agent }}\n🔧 Type: {{ $json.fields.Type }}\n💬 {{ $json.fields.Commentaire || 'Pas de commentaire' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tchap-notification",
      "name": "Notification Tchap",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notification envoyée\", \"id\": $json.id } }}"
      },
      "id": "respond-success",
      "name": "Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Intervention enregistrée (non urgente)\", \"id\": $json.id } }}"
      },
      "id": "respond-non-urgent",
      "name": "Response Non-Urgent",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Grist": {
      "main": [
        [
          {
            "node": "Filtre Urgente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre Urgente": {
      "main": [
        [
          {
            "node": "Notification Tchap",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Non-Urgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification Tchap": {
      "main": [
        [
          {
            "node": "Response Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "v1-minimal",
  "meta": {
    "instanceId": "cerema-grist-realtime-v1-minimal"
  },
  "id": "v1-minimal",
  "tags": []
}
