n8n-workflow-2-api-interventions.json
{
  "name": "API Interventions (GET)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "interventions",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-get",
      "name": "📡 GET /api/interventions",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "api-interventions"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "intervention:*"
      },
      "id": "redis-keys",
      "name": "🔑 Redis KEYS",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "redis": {
          "id": "1",
          "name": "Redis CEREMA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "key-split",
              "name": "keys",
              "value": "={{ $json.keys ? $json.keys.split(',').filter(k => k.trim()) : [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "split-keys",
      "name": "📋 Transformer Keys",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [640, 300]
    },
    {
      "parameters": {
        "jsCode": "// Récupère toutes les interventions depuis Redis\nconst keysData = $input.all()[0].json;\nconst keys = keysData.keys || [];\n\nif (keys.length === 0) {\n  return [{ json: { interventions: [] } }];\n}\n\n// On retourne les clés pour les récupérer ensuite\nreturn keys.map(key => ({ json: { key: key } }));"
      },
      "id": "prepare-get",
      "name": "🔄 Préparer Lecture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.key }}"
      },
      "id": "redis-get",
      "name": "📥 Redis GET",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1040, 300],
      "credentials": {
        "redis": {
          "id": "1",
          "name": "Redis CEREMA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrège toutes les interventions\nconst allItems = $input.all();\nconst interventions = [];\n\nfor (const item of allItems) {\n  try {\n    if (item.json.value) {\n      const intervention = JSON.parse(item.json.value);\n      interventions.push(intervention);\n    }\n  } catch (e) {\n    console.error('Erreur parsing intervention:', e);\n  }\n}\n\n// Trie par priorité et date\nconst priorityOrder = { 'Urgente': 0, 'Haute': 1, 'Normale': 2, 'Basse': 3 };\ninterventions.sort((a, b) => {\n  const priorityDiff = (priorityOrder[a.priorite] || 99) - (priorityOrder[b.priorite] || 99);\n  if (priorityDiff !== 0) return priorityDiff;\n  return 0;\n});\n\nreturn [{\n  json: {\n    success: true,\n    count: interventions.length,\n    timestamp: new Date().toISOString(),\n    interventions: interventions\n  }\n}];"
      },
      "id": "aggregate-interventions",
      "name": "📊 Agréger Interventions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Cache-Control",
                "value": "no-cache, no-store, must-revalidate"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-json",
      "name": "✅ Réponse JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "📡 GET /api/interventions": {
      "main": [
        [
          {
            "node": "🔑 Redis KEYS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔑 Redis KEYS": {
      "main": [
        [
          {
            "node": "📋 Transformer Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Transformer Keys": {
      "main": [
        [
          {
            "node": "🔄 Préparer Lecture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Préparer Lecture": {
      "main": [
        [
          {
            "node": "📥 Redis GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Redis GET": {
      "main": [
        [
          {
            "node": "📊 Agréger Interventions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Agréger Interventions": {
      "main": [
        [
          {
            "node": "✅ Réponse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-17T10:00:00.000Z",
  "versionId": "1"
}
